.email-preview {
    
    .email-container {
        display: grid;
        grid-template-columns: 50px 1fr 100px;
        cursor: pointer;
        font-weight: bold;
        border-bottom: 1px solid #dcdcdc;
        padding: 10px 0;

        a{
            display: grid;
            grid-template-columns: 200px 1fr;
        }
        
        .email-starred {
            color: #eec510;
            &.unstarred {
                display: none;
            }
            &.starred {
                display: inline;
            }
        }
        
        .email-star {
            opacity: 0.3;
            &.unstarred {
                display: inline;
            }
            &.starred {
                display: none;
            }
        }

        .email-titel{
            min-width: 150px;
        }

        .delete-options{
            display: grid;
            grid-auto-flow: column;
        }
    }

    .read {
        background-color: #f2f6fc;
        font-weight: normal;
    }
}
