.email-preview .email-container {
    display: grid;
    grid-template-columns: 50px 1fr 100px;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
}

.email-preview .email-container a{
    display: grid;
    grid-template-columns: 200px 1fr;
}

/* .email-container div {
    display: flex;
    flex-direction: row;
    padding: 5px;
    font-size: 14px;
} */

.email-preview .read{
    background-color: #f2f6fc; 
    font-weight: normal;
 }

.email-starred{
    color: rgb(238, 197, 16);
}
.email-star{
    opacity: 0.3;
}

.email-starred.unstarred{
    display: none;
}
.email-starred.starred {
    display: inline;
}
.email-star.starred{
    display: none;
}
.email-star.unstarred{
    display: inline;
}

.email-container .email-titel{
    /* flex-grow: 1; */
    min-width: 150px;

}
.email-container .email-subject{
    flex-grow: 1;
    /* flex-shrink: 4; */
    min-width: 100px;
}


.email-container .delete-options{
    display: grid;
    grid-auto-flow: column;
}
.email-container .delete-options {
    display: grid;
    grid-auto-columns: 1fr;
}
